.banner {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    position: absolute;
    top:35%;
    left: -37%;
}

.footer {
    bottom: 0%;
    left: 0%;
    position: absolute;
    width: 100%;
    color: white;
	height: 40px;
	background: #050A0E;
}

.link-voxxed {
    color: #55C4EF;
    font-size:  80%;
}

.hashtag-voxxed {
    color: white;
    font-size:  100%;
    bottom: 0.8%;
    right: 1%;
    position: absolute;
}
.hashtag-voxxed-blue {
    color: #55C4EF;
}